
.dark-mode{
  --primary-color: #000106;
  --secondary-color: #fff;
  --active--color: #808000;
  --hover-aclor : #808000;
  --card-text-color: #fff;
  --card-title-color: #808000;
  --display-5-color: #fff;
  --btn-color: #808000;
  --current-color:  	#808080;
}

:root{
--primary-color: #fff;
--secondary-color: #808000;
--active--color: #808000;
--hover-aclor : #808000;
--card-text-color: rgb(139, 123, 123);
--card-title-color: black;
--display-5-color: #050301;
--btn-color: #808000;
--current-color:  	#808080;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 


.collapse a:hover
{
  color: var( --hover-aclor);
}
nav a:hover{
  color: var(--active--color);
}
.logo{
  width: 60px;
}

section {
   display: flex;
   gap: 3rem;
}

.card {
  height: 1rem;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
}

.nav-link {
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 30px;
  color: var(--secondary-color);
}

nav a:hover{
  color: var(--active--color);
}
nav li:first-child{
  margin-right: auto;
}

.dropdown {
  display: inline-block;
  position: relative;
  align-items: center;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-options a {
  font-size: 17px;
}

.dropdown:hover .dropdown-options {
  display: block;
 
}

.dropdown .dropdown-options a:hover {
  color: var(--active--color);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
} */

/* body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333; */
  /* background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%); */
  /* display: flex;
  align-items: center;
  justify-content: center;
} */

/* LAYOUT */
.main {
  position: relative;
  width: 1000px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  margin: 30px auto;
}

.player {
  flex: 50%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  background-color: hsl(60, 34%, 63%);
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  color: white;
}

.score {
  font-size: 6rem;
  font-weight: 300;
  color:white;
  margin-bottom: auto;
}

.player--active {
  background-color: #808000;
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #acac5e;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 40%;
  margin-bottom: 120px;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  margin-bottom: 190px;
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 6rem;
}
.btn--roll {
  top: 30.3rem;
}
.btn--hold {
  top: 37.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: white;
}

.hidden {
  display: none;
}